<footer class="site-footer">
    <div class="container">
       <div class="row">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-8">
                   <h2 class="footer-heading mb-4">Address</h2>
                   <p>Plot No. 1/4/44/49/1/2/B, <br />Nr. Ramjimandir,<br /> Nr. Chhindiya Darwaja, Patan - 384265</p>
                </div>
                <div class="col-md-4 ml-auto">
                   <h2 class="footer-heading mb-4">Links</h2>
                   <ul class="list-unstyled">
                      <li><a href="/#home-section">Home</a></li>
                      <li><a href="/#about-section">About</a></li>
                      <li><a href="/members">Members</a></li>
                      <li><a href="/gallary">Gallary</a></li>
                      <li><a href="/events">Events</a></li>
                      <li><a href="/membership">Membership</a></li>
                      <li><a href="/#contact-section">Contact</a></li>
                   </ul>
                </div>
             </div>
          </div>
          <div class="col-md-4 ml-auto">
             <div class="mb-5">
                <div class="mb-5">
                   <!-- <h2 class="footer-heading mb-4">Some Paragraph</h2> -->
                   <p>Thanks for supporting us and show humanity.</p>
                </div>
             </div>

             <!-- /// Social Media Links \\\  -->
   
             <!-- <h2 class="footer-heading mb-4">Follow Us</h2> -->
             <!-- <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
             <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
             <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
             <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a> -->
             </form>
          </div>
       </div>
       <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
             <div class="border-top pt-5">
                <p>
                   Copyright &copy;<script type="d71d0723a0f97c2006b06c7f-text/javascript">document.write(new Date().getFullYear());</script> Show Humanity Trust
                   <br />
                   <small>Developed by <a title="@github/rajatprototype" target="new" href="https://github.com/rajatprototype">Rajat Sharma</a></small>
                </p>
             </div>
          </div>
       </div>
    </div>
 </footer>