<!DOCTYPE html>
<html lang="en">
   <head>
      <title><%= page_name %> | Show Humanity Trust</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="shortcut icon" href="/images/logo/favicon.png" type="image/x-icon" />
      <link rel="favicon" href="/images/logo/favicon.png" type="image/x-icon" />
      <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700|Anton" rel="stylesheet">
      <link rel="stylesheet" href="/fonts/icomoon/style.css">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/magnific-popup.css">
      <link rel="stylesheet" href="/css/jquery-ui.css">
      <link rel="stylesheet" href="/css/owl.carousel.min.css">
      <link rel="stylesheet" href="/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
      <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />
      <link rel="stylesheet" href="/css/aos.css">
      <link rel="stylesheet" href="/css/style.css">
    </head>