<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-pink.min.css">
    <link rel="stylesheet" href="/css/admin/index.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@2.0.0"></script>
    
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.4/firebase-storage.js"></script>
    <script src="./js/init.js"></script>
    
    <title>Admin | Show Humanity Trust</title>
</head>
<body>
    <div id="app">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
              <div class="mdl-layout__header-row">

                <!-- Title -->
                <span class="mdl-layout-title">Dashboard | {{ hash }}</span>
              </div>
              
              <!-- Tabs -->
              <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <div @click="setHash('session')" href="router-view-wrapper" class="mdl-layout__tab">Session</div>
                <!-- Protected routes -->
                <template v-if="$store.state.authState">
                  <div @click="setHash('contacts')" href="router-view-wrapper" class="mdl-layout__tab">Contacts</div>
                  <div @click="setHash('gallary')" href="router-view-wrapper" class="mdl-layout__tab">Gallary</div>
                  <div @click="setHash('events')" href="router-view-wrapper" class="mdl-layout__tab">Events</div>
                  <div @click="setHash('membership')" href="router-view-wrapper" class="mdl-layout__tab">Memberships</div>
                </template>
              </div>
            
            </header>

            <div class="mdl-layout__drawer">
                <span class="mdl-layout__title">Dashboard</span>
                <nav class="mdl-navigation">
                  <a class="mdl-navigation__link" href="/" target="new">Goto Website</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
              <section id="router-view-wrapper" class="mdl-layout__tab-panel is-active">
                <template v-if="hash === 'contacts'">
                  <contacts-view  />
                </template>

                <template v-if="hash === '' || hash === 'session'">
                  <session-view  />
                </template>

                <template v-if="hash === 'gallary'">
                  <gallary-view />
                </template>

                <template v-if="hash === 'events'">
                  <events-view />
                </template>

                <template v-if="hash === 'membership'">
                  <memberhip-view />
                </template>
              </section>
            </main>
          </div>
    </div>
    <!-- Simple header with scrollable tabs. -->
</body>
<script src="/js/admin/store.js"></script>
<script src="/js/admin/components.js"s></script>
<script src="/js/admin/main.js"></script>
</html>